.container {
	height: 100%;
	align-content: center;
	margin-top: 50px;
}

.card {
	height: auto;
	margin-top: auto;
	margin-bottom: auto;
	width: 400px;
}

.card-body {
	margin-top: 30px;
}

.login-btn {
	margin-top: 20px;
	width: 150px;
}