.post-content {
	margin-bottom: 40px;
	width: 450px;
}

.post-creator-avatar {
	margin-left: 10px;
	width: 40px;
	height: 40px;
	border-radius: 20%;
	border: 1px solid grey;
}

.post-creator-username {
	margin-left: 10px;
	font-weight: bold;
	color: black;
}

.like-info {
	display: flex;
	align-items: center;
}

.like-btn {
	margin-left: 10px;
	cursor: pointer;
}

.total-no-likes {
	margin-left: 10px;
	font-weight: bold;
}

.total-likes {
	margin-left: 10px;
	font-weight: bold;
	cursor: pointer;
}

.post-caption-username {
	font-weight: bold;
	color: black;
}

.post-caption {
	margin-left: 10px;
}

.commenter-username {
	font-weight: bold;
	color: black;
}

.comment-text {
	margin-left: 10px;
}

.comment-form {
	margin-top: 20px;
	margin-bottom: -30px;
}