.page-not-found {
	margin-top: 50px;
	padding: 40px;
	text-align: center;
}

.page-not-found .title {
	font-size: 50px;
	margin-bottom: 10px;
}

.page-not-found .desc {
	margin-top: 50px;
	font-size: 20px;
	margin-bottom: 50px;
}

.go-back-btn {
	min-width: 130px;
}